In [1]:
import pandas as pd
df = pd.read_table("periods.csv", sep=',', index_col=0)
df

,J2015.7+3708,J1853.1+0032c,J1848.1-0145c,J1833.5-1034,J1826.2-1450,J1813.3-1246,J1459.4-6053,J1256.2-0547,J1119.4-6127c,J1018.6-5856,J1000.1+6539,J0240.5+6113,J0205.6+6449
Best period,0.100,26.569,2.085,1.020,3.905,16.331,0.244,1.002,1.328,16.523,0.201,26.569,3.951
1bin error,0.001,0.156,0.012,0.006,0.023,0.096,0.001,0.006,0.008,0.097,0.001,0.156,0.023